$color_1: inherit;
$color_2: white;
$color_3: #E4D4FF;
$color_4: #11002D;
$color_5: #C3C2C5;
$color_6: rgba(82, 0, 217, 0.1);
$color_7: #5200d9;
$font-family_1: Inter;
$background-color_1: initial;
$background-color_2: #5200d9;
$background-color_3: white;
$background-color_4: #fff;
$background-color_5: #E4D4FF;
$background-color_6: rgba(82, 0, 217, 0.1);
